#commentator svg {
    width: 80px;
    height: 80px;
}

#commentator {
    display: grid;
    grid-template-columns: 90px auto;
    height: 100%;
}

#commentator-text {
    margin-top: 80px;
    padding: 20px;
    font-size: small;
    height: max-content;
    background: #ECEFF1;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin-right: 10px;
}