.main_game {
    display: grid;
    grid-template-columns: 25% 45% 30%;
    align-items: center;
    height: 100vh;
}

.game {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 5px;
}

#left-part {
    display: grid;
    height: 100%;
    grid-template-rows: 30% 30% auto;
    padding: 10px;
    background: #ffffff70;
}

#add-room-btn, #quit-room-btn, .join-room-btn, #quit-results-btn, #ready-btn {
    border: 1px solid;
    margin: 0.5em;
    border-radius: 0.5em;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background: #333;
}

#add-room-btn:hover, #quit-room-btn:hover, .join-room-btn:hover, #quit-results-btn:hover, #ready-btn:hover {
    opacity: 0.9;
}

.user_info {
    display: flex;
    margin: 10px 0px;
    grid-gap: 10px;
}

.ready-status-red {
    width: 20px;
    height: 20px;
    background: #e01c1c;
    border-radius: 50%;
}

.ready-status-green {
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 50%;
}

.bar {
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 0.2em;
}

.user-progress {
    background: rgb(109, 206, 118);
    height: 100%;
    position: relative;
    width: 0%;
    border-radius: 0.2em;
}

.ready {
    background: green;
}

#text-container {
    font-size: 25px;
    border: 1px solid;
    margin: 20px;
    width: 100%;
    overflow-wrap: anywhere;
    padding: 25px;
    background: white;
    border-radius: 1em;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
}

#text-container span {
    white-space: pre-wrap;
}

.entered {
    background-color: rgba(173, 255, 47, 0.3);
}

.next {
    background-color: rgba(219, 24, 40, 0.3);
}

#left-time {
    display: none;
    justify-content: flex-end;
    grid-gap: 5px;
    width: 100%;
    margin-right: 20px;
    margin-top: 20px;
}

#game-page-room-name {
    font-size: 30px;
}

#timer {
    font-size: 50px;
}