.username-input-container {
  height: 39px;
  width: 240px;
}

#username-input {
  font-size: 16px;
}

#submit-button {
  border: 1px solid;
  margin: 0.5em;
  border-radius: 0.5em;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  background: #333;
}

#submit-button:hover {
  opacity: 0.9;
}