div#rooms {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}

#rooms-page-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #eee;
    font-size: 30px;
}

.room {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 0.5em;
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    background: white;
}

.room .users_connected {
    display: flex;
    justify-content: flex-end;
}

.room .room_name {
    font-size: 30px;
}